@charset "UTF-8";

body{
background: url(../images/sky-bg2.png);
background-repeat: no-repeat;
background-size: cover;
}

.crystalHeader {
  padding-top: 1em;
}

.rules {
  margin-top: 3em;
}

#display {
  margin-top: 2em;
}

#images {
  margin-top: 2em;
}

h1, h2, h3, h4 {
  font-family: 'Leckerli One', cursive;
}

p {
  font-family: monospace;
  font-size: 1em;
}

footer {
  background-color: gray;
}
