@charset "UTF-8";

body{
background: url(../images/sky-bg2.png);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
background-attachment: fixed;
}

.crystalHeader {
  padding-top: 1em;
}

.rules {
  margin-top: 1em;
}

.pad {
  padding-top: 1em;
  padding-bottom: 1em;
  cursor: pointer;
}

#crystal1:hover, #crystal2:hover, #crystal3:hover, #crystal4:hover {
  opacity: 0.6;
}

#display {
  margin-top: 2em;
}

#images {
  margin-top: 2em;
}

h1, h2, h3, h4 {
  font-family: 'Leckerli One', cursive;
}

p {
  font-family: monospace;
  font-size: 1em;
}

footer {
  background-color: gray;
}
